  /* Para telas móveis de todos os tipos */
  @media only screen and (max-width: 768px) {
    .header-box {
        font-size: 35px;
        width: 65vw;
    }
    .box {
        width: 100vw;
    }
}
.terms-section {
    background-color: none;
    padding: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin: auto;
}
.terms-section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #3b1068; /* Cor do texto */
    margin-bottom: 15px;
}
.terms-section p strong {
    color: #3b1068; /* Cor do texto */
}
.terms-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #3b1068; /* Cor do título */
}