@media only screen and (max-width: 768px) {
    .header-box {
        font-size: 35px;
        width: 65vw;
    }
    .box {
        width: 100vw;
    }

    .profile-info {
        flex-direction: column; /* Alinha os elementos verticalmente em telas menores */
        gap: 10px;
    }

    .profile-info {
    width: 100%;
    }

    .button {
        margin-top: 9px;
        align-self: center;
        padding: 16px;
        border-radius: 4px;
        
    }

    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        font-size: 10px;
    }
    .content{
        text-align: center;
    }
    .counters{
        margin-left: 10px;
    }

    }