/* Estilos personalizados para o Admin */
body {
    background-color: #050606; /* Cor de fundo suave */
  }
  
  .module-heading {
    background-color: #d0b5d9; /* Cor principal do seu site */
    color: white;
    font-weight: bold;
  }
  
  .breadcrumbs {
    background-color: #d0b5d9; /* Cor principal do seu site */
    color: white;
  }
  
  .sidebar a {
    color: white; /* Cor do texto no menu lateral */
  }
  
  .sidebar a:hover {
    color: #ffffff; /* Cor do texto do menu lateral ao passar o mouse */
    background-color: #d0b5d9; /* Cor de fundo do menu lateral ao passar o mouse */
  }
  
  .submit-row input[type="submit"] {
    background-color: #d0b5d9; /* Cor do botão "Salvar" */
    color: white;
  }
  
  .submit-row input[type="submit"]:hover {
    background-color: #c8a2c2; /* Cor do botão "Salvar" ao passar o mouse */
  }